<ul class="lg:flex font-semiblod text-lg text-zinc-700 gap-8 xl-gap-14">
  <li class="p-3 border-t lg:border-0">
    <a href="">
      Home
    </a>
  </li>
  <li class="p-3 border-t lg:border-0">
    <a href="all-course">
      All Course
    </a>
  </li>
  <li class="p-3 border-t lg:border-0">
    <a href="pages">
      Pages
    </a>
  </li>
  <li class="p-3 border-t lg:border-0">
    <a href="blog">
      Blog
    </a>
  </li>
  <li class="p-3 border-y lg:border-0">
    <a href="contact">
      Contact
    </a>
  </li>
</ul>

